*{
    padding: 0;
    margin: 0;
}

.body {
    background: black;
    /* background-image: url(assets/Background.jpeg); */
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}

.logo-div {
    height: 10%;
    position: absolute;
    left: 30%;
}

.logo {
    height: 150px;
    width: 500px;
}

.welcome-screen {
    color: #ffffff;
    position: absolute;
    width: 80%;
    height: 40%;
    margin: 0 auto;
    text-align: center;
    border: 3px yellow solid;
    border-radius: 25px 25px;
    padding-top: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.welcome-spawn {
    font-size: 100%;
    border: 2px blue solid;
}

.start-button {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: rgb(255, 255, 255);
    animation: fadeIn 2s infinite;
}
@keyframes fadeIn{
    0%{
        color: #0000ff;
    }
    20%{
        color: #0987ef;
    }
    40%{
        color: #00ff88;
    }
    60%{
        color: #00ff44;
    }
    80%{
        color: #00ff1e;
    }
    100%{
        color: #7bff00;
    }
}
.game-window {
    display: none;
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    width: 100%;
    height: 90%;
    /* justify-content: center;
    align-items: center; */
    /* border: 2px red solid; */
}

.game-canvas {
    border: none;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
}

.super-mode {
    color: #0000ff;
    width: auto;
    height: 5%;
    font-size: 100%;
}

.result, .score, .remainingLives {
    color: #ffee02;
    width: auto;
    height: 3%;
    font-size: 100%;
    margin: 3% 10%;  
    /* border: 2px red solid; */
}

.result-button {
    display: none;
    height: 5%;
    font-size: 100%;
    margin: 3% 10%;
}
.logbox{
    
    /* border: rgb(252, 248, 2) 5px solid; */
    background-color: rgb(0, 0, 0);
    width: 600px ;
    border-radius: 25px 25px;
}
p{
    font-size: 25px;
}