*{
    padding: 0;
    margin: 0;
}

.body {
    background: black;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}

.logo-div {
    height: 10%;
    position: absolute;
    left: 30%;
}

.logo {
    height: 150px;
    width: 500px;
}

.welcome-screen {
    color: #ffffff;
    position: absolute;
    width: 80%;
    height: 40%;
    margin: 0 auto;
    text-align: center;
    border: 3px yellow solid;
    border-radius: 25px 25px;
    padding-top: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.welcome-spawn {
    font-size: 100%;
    border: 2px blue solid;
}

.start-button, #scode {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: rgb(255, 255, 255);
    animation: fadeIn 2s infinite;
}
@keyframes fadeIn{
    0%{
        color: #0000ff;
    }
    20%{
        color: #0987ef;
    }
    40%{
        color: #00ff88;
    }
    60%{
        color: #00ff44;
    }
    80%{
        color: #00ff1e;
    }
    100%{
        color: #7bff00;
    }
}
.win{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 20vw;
    width: 40vw;
    background-color: whitesmoke;
    border: 3px rgb(22, 21, 21) solid;
    border-radius: 25px 25px;
    display: none;
}
.win h1{
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    width: 100%;
}
#scode{
    text-decoration: none;
    color:  #7bff00;
    animation: fadeIn 2s infinite;
}
#Thanks{
    align-items: center;
}
hr{
    color: blue;
    width: 100%;
    height: 20px;
}
.game-window {
    display: none;
    width: 100%;
    height: 90%;
    /* border: #0000ff solid 3px; */
}

.game-canvas {
    border: none;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
}
canvas{
    width: 800px;
    height: 512px;
}
.super-mode {
    color: #f31c00;
    width: auto;
    height: 5%;
    font-size: 100%;
}

.result, .score, .remainingLives {
    color: #ffee02;
    width: auto;
    height: 3%;
    font-size: 100%;
}

.result-button {
    display: block;
    padding: 2% 2%;
    border-radius: 25px 25px;
    height: 20%;
    font-size: 100%;
    margin: 3% 10%;
    font-family: 'Times New Roman', Times, serif;
    border: solid rgb(240, 243, 41) 2px;
}
.logbox{
    /* position: absolute; */
    /* border: rgb(252, 248, 2) 5px solid; */
    display: block;
    background-color: rgb(0, 0, 0);
    width: 12% ;
    border-radius: 25px 25px;
    height: 10vw;
}
p{
    font-size: 25px;
}